
<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<!-- Style -->
<link rel="stylesheet" href="./css/style.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">

<!-- Ionic Icons-->
<link href="./css/icons.min.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
        </div>
    </nav>

    <section id="hero" class="bg-light">
    </section>

    <section id="pricing" class="bg-light">
        <div class="container">
            <h3>网站建设中，精彩马上呈现！！！</h3>
            <p class="topmargin-sm"></p>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                </div>
        </div>
    </section>


    <div id="copyright" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline">
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <small><a target="_blank" href="http://www.beian.miit.gov.cn/">Copyright &copy; 浙ICP备19048937号-1</a></small>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline tright">
                        <li class="list-inline-item"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="icon ion-logo-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>